page-home {
    .top_header_msg_icon {
        float: left;
        font-size: 2em;
        min-height: 44px;
        color: #848994;
        padding: 9px 5px 9px 5px;
        text-align: center; 
    }
    .searchbar {
        float: left;
        width: 90%;
    }
}
